*{
    max-width: 1290px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif
}
/* header style started */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.header h1{
    font-size: 36px;
    padding-left: 10px;
}
.logoName{
    display: flex;
    margin-left: 0;
}
.navbar ul{
    display: flex;
    margin-right: 0;
}
.navbar ul li{
list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    margin-bottom: 20px;
    color: #424247;
    font-weight: 600;
}
.navbar ul li a:hover{
    margin-bottom: 10px;
    color: #FF5400;
}
.borders{
    display: inline;
    color: #FF5400;
}
.hamburger{
    display: none;
}
/* header style ended */
/* expore section started */
.explore{
    /* background-image: url("images/Group\ 13\ \(1\)\ \(1\).png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Group\ 13\ \(1\)\ \(1\).png");
    height: 500px;
    margin: 0 0px;
    background-repeat: repeat-y;
    background-size: cover;
    border-radius: 15px;
}
.explore h1{
    color: white;
    font-size: 64px;
    text-align: center;
    padding: 50px 0px;
    
}
.explore p{
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 0px 400px;
}

.formAndButton{
    background-color: rgba(201, 184, 184, 0.5);
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin: 50px 300px 0px;
    border-radius: 20px;
}

.whereGo, .wh, .sel{
    padding: 15px;
    color:#131318;
    width: 130px;
    border-radius: 20px;
    border-color: transparent;
} 
.findNow, .readMore{
    background-color: #FF5400;
    color: white;
    padding: 15px;
    border-color: transparent;
    border-radius: 15px;
    width: 150px;
}

/* expore section ended */
.popularTour{
    display: flex;
    margin: 50px 0px;

}
.readMore{
    margin-top: 40px;
    font-size: 20px;
}

.popularTour h2{
    font-size: 40px;
    font-weight: 800;
    color: #000;
    padding: 30px 0;
}

.popularTour p li{
    font-size: 16;
    color: #ababb4;
    padding: 20px;
}
.popularTour p{
    padding: 25px 0; 
}
/* choose destination style started */
.choose h2{
    font-size: 40px;
    font-weight: 800;
    color: #000;
    /* padding: 30px 0; */
    text-align: center;
}
.choose p{
    text-align: center;
    font-size: 16px;
    color: #424247;
}

.choose div{
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.firstLine{
    display: flex;
    justify-content: space-between;
}

.maldives{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 5.png");
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indonesia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 8.png");
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondLine{
    display: flex;
    justify-content: space-between;
}

.sriLanka{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 6.png");
    width: 26%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}.northAmerica{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 7.png");
    width: 35%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 05px;
}.kashmir{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 9.png");
    width: 26%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdLine{
    display: flex;
    justify-content: space-between;
}

.Bangladesh{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 11.png");
    width: 37%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}.Bandarban{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0)), url("images/Rectangle\ 10.png");
    width: 55%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px ;
}
/* choose destination style ended */

/* Bangladesh Place Section Started Here */
.bdplace h2{
    font-size: 40px;
    font-weight: 800;
    color: #000;
    padding: 30px 0;
    text-align: center;
}

.bdplace p{
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 0px 400px;
}

.bdimages{
    display: flex;
}

.bdimages img{
    padding: 40px 0;
    height: 200px;
    width: 23%;
    border-radius: 50%;
}
/* Bangladesh Place Section ended Here */
/* why we sectin style started */
.whyWe h2{
    font-size: 40px;
    font-weight: 800;
    color: #000;
    padding: 30px 0;
    text-align: center;
}

.ww{
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 0px 400px;
    margin-bottom: 30px;
}
.upofww{
    display: flex;
    justify-content: space-between;
}

.handpickedHotels{
    background-color: antiquewhite;
    height: 250px;
    width: 43%;
    padding: 30px;
    border-radius: 15px;
}
.handpickedHotels i{
    font-size: 50px;
    padding: 10px;
}
.handpickedHotels h3{
    font-size: 30px;
}
.handpickedHotels p{
    font-size: 20px;
    color: #ababb4;
    padding-top: 15px;
}


.worldClassServices{
    background-color: rgb(185, 163, 135);
    height: 250px;
    width: 43%;
    padding: 30px;
    border-radius: 15px;
}

.worldClassServices i{
    font-size: 50px;
    padding: 10px;
}
.worldClassServices h3{
    font-size: 30px;
}
.worldClassServicesp{
    font-size: 20px;
    color: #ababb4;
    padding-top: 15px;
}


.downofww{
    background-color: rgb(228, 220, 209);
    height: 250px;
    width: 45%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 30px;
}

.downofww i{
    font-size: 50px;
    padding: 10px;
}
.downofww h3{
    font-size: 30px;
}
.downofww p{
    font-size: 20px;
    color: #ababb4;
    padding-top: 15px;
}

/* why we section style ended */

/* newsletter section started here */
.newsletter{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.leftofNL{
    border: 2px solid #FF5400;
    border-radius: 15px;
    padding: 30px;
    width: 30%;
}

.leftofNL h4{
    font-size: 24px;
    color: black;
}

.leftofNL p{
    padding: 20px 0;
}

.leftofNL input{
    display: block;
    margin-top: 10px;
    background-color: aliceblue;
    width: 90%;
    padding: 20px;
    border-color: transparent;
}

.leftofNL button{
    display: block;
    margin-top: 10px;
    background-color: #FF5400;
    width: 100%;
    padding: 10px 0;
    border-color: transparent;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.traveldotcom{
    background-color: #FF5400;
    padding: 20px;
    border-radius: 10px;
    width:330px;
    text-align: center;
    font-size: 24px;
    color: #e6e6f3;
    transform: rotate(-35deg);
    margin-top: -205px;
    margin-right: -3px;
}
.save{
    font-size: 32px;
    color: white;
}
/* newsletter section ended here */

/* footer section starts here */
.footer{
    background-color: #e6e6f3;
    padding: 50px;

}
.logo-Name{
    text-align: center;
    margin-bottom: 30px;
}
.logo-Name img{
    display: inline-block;
    height: 30px;
}
.logo-Name h1{
    display: inline-block;
    padding-left: 10px;
}
.footer p{
    font-size: 16px;
    text-align: center;
    color: #ababb4;
}
.socialIcons{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
.socialIcons a{
    padding: 20px;
}
.copyright{
    font-size: 16px;
    color: #ababb4;
    padding-top: 30px;
}
/* footer section ends here */

/* Responsive design started */
@media screen  and (max-width : 600px ) {
    *{
        margin: 0 5px;
    }
    .navbar ul{
        display: none;
    }
    .hamburger{
        display: inline;
        font-size: 30px;
    }
    .navbar ul{
        flex-direction: column;
    }
    .explore h1{
        font-size: 30px;
        padding: 15px 0px;
    }
    .explore p{
        font-size: 14px;
        padding: 0px 10px;
    }
    .formAndButton{
        margin: 15px 70px;
        border-radius: 20px;
    }
    .whereGo{
        width: 327px;
        margin-bottom: 20px;
    }
    
    .wh, .sel{
        margin-bottom: 20px;
        width: 360px;
    } 
    .findNow{
        width: 360px;
    }
    .popularTour{
        flex-direction: column;
        margin: 50px 0px;
    
    }
    .popularTour h2{
        font-size: 30px;
        padding: 0 0;
    }
    
    .popularTour p li{
        padding: 0px;
    }
    .popularTour p{
        padding: 10px 0; 
    }
    .readMore{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .rightPT img{
        height: 400px;
        width: 95%;
    }
    .choose h2{
        font-size: 30px;
    }
    .choose p{
        font-size: 14px;
        padding: 0 60px;
    }
    .firstLine, .secondLine, .thirdLine{
        flex-direction: column;
    }

    .maldives, .indonesia, .sriLanka, .northAmerica, .kashmir, .Bandarban, .Bangladesh{
        width: 100%;
        margin-bottom: 15px;
    }
    .bdplace h2{
        font-size: 30px;
    }
    
    .bdplace p{
        font-size: 16px;
        padding: 0px 40px;
    }
    
    .bdimages{
        flex-direction: column;
        align-items: center;
    }
    
    .bdimages img{
        width: 60%;
    }

    .whyWe h2{
        font-size: 30px;
    }
    
    .ww{
        font-size: 16px;
        padding: 0px 40px;
    }
    .upofww{
        flex-direction: column;
    }
    
    .handpickedHotels, .worldClassServices, .downofww{
        width: 90%;
        margin-bottom: 20px;
    }
    .newsletter{
        flex-direction: column;
    }
    .leftofNL{
        width: 90%;
        margin-bottom: 20px;
    }

    .rightofNL img{
      width: 100%;
      margin-bottom: 20px;
    }

    .traveldotcom{
        transform: rotate(-35deg);
        margin-top: -225px;
        margin-left: 197px;
    }

/* Responsive design ended */